<div id="container">
  <div id="menuLinks">
    <a href="#">Dashboard</a>
    <a href="#">Contacts</a>
    <a href="#">Notifications</a>
    <span style="margin-top: auto">2019 Contactify</span>
  </div>
  <div id="info">
    <div id="sync">
        <fa-icon id="upload" class="fa-2x" [icon]="faCloudUploadAlt"></fa-icon>
        <div id="lastSynced">
          <span>Last synced:</span>
          <br/>
          <span>2019-09-01 15:00:01</span>
        </div>
        <div id="force"><fa-icon [icon]="faSyncAlt"></fa-icon><a href="#">Force sync</a></div>  

      </div>

    <div id="helpDesk">
      <fa-icon id="stet" class="fa-2x" [icon]="faStethoscope"></fa-icon>
      <div id="helpDeskInfo">
          <span>Help desk and resolution centre available:</span>
          <br/>
          <span>I-IV 8:00-18:00, V 8:00-16:45</span>
      </div>      
    </div>
  </div>
  <div id="links">
    <span><a href="#">Groups</a></span>
    <span><a href="#">Frequently contacted</a></span>
    <span><a href="#">Preferences</a></span>
    <span><a href="#">Log out</a></span>
  </div>

</div>